mmcv-full==1.2.4 -f https://download.openmmlab.com/mmcv/dist/cu101/torch1.7.0/index.html
poseval@git+https://github.com/svenkreiss/poseval.git
mmpycocotools
mmcls
dotty-dict
mmcls
motmetrics
shapely
xtcocotools
chumpy
json-tricks
munkres
pytube
trimesh
pyrender
smplx[all]
freetype-py
torchgeometry
pyyaml
terminaltables
yapf
seaborn
click
pyglet
yacs
scikit-image
six
addict
dataclasses
kiwisolver
matplotlib
cycler
tqdm
pandas
scipy
xmltodict
dataclasses
networkx
imageio
mmdet@git+https://github.com/open-mmlab/mmdetection.git@v2.8.0
mmpose@git+https://github.com/open-mmlab/mmpose.git
mmtrack@git+https://github.com/open-mmlab/mmtracking.git@v0.5.1
